<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center mx-auto text-white py-5" style="font-family: cursive;">
         

            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Welcome {{googleuser.displayName}}{{udata.uname}}

                                
            </a>
            <img src="{{googleuser.photoURL}}" class="img-fluid">
          </div>
    </div>

    <div class="row">
        <div class="col-lg-6 text-center mx-auto text-white" style="font-family: cursive;">
            <h4>Services of the App</h4>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-6 mx-auto text-justify text-center">
            <img style="box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.6); border-radius: 50%;" src="assets/images/logo1.jpg" class="img-fluid" alt="Responsive image">
                         
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-6 text-center mx-auto text-white py-5" style="box-shadow: 30px 30px 40px 60px rgba(0,0,0,0.6);">
            <p>
                The application will let you keep the record of your daily expenses with different categories as per your requires
                    in this you have to add category of your daily expenses.
                    even you can add your expenses with a particular date and amount. <br><br>
                    along with it you get the total amount of the category's expenses.
                    delete and edit functionality is also available for your cateogry and expenses.
                    
                          
                    <br><br>
                    you can sign up with your gmail account either you may create a new account for keeping your record safe.
                    email verification security is also available for the authenticaion of user.
            </p>
        </div>
    </div>
</div>






