body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin-bottom:50px;
  
}
.sign-up-form
{
    width:300px;

    box-shadow: 2px 5px 2px 4px rgba(6, 6, 8, 0.363);
    background: rgb(2, 2, 8);
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 0px;
    padding:10px;
    margin: 8% auto 0;
    text-align:center;
}
.sign-up-form h3
{
    color: #391cdb98;
    margin-bottom: 30px;
    margin-top: 20px;
}
.input-box
{
    border:none;
    outline:none;
    border-bottom: 1px solid #fff!important;
    background: none;
    padding: 10px;
    outline:none;
}
p
{
    font-size:15px;
    margin-top:15px;
    margin-left:20px;
}
button
{
    color:#fff;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size:15px;
    margin:10px 0;
    outline:none;
    cursor: pointer;
    border:none;
}

.signup-btn
{
    background-color: #1c8adb;
}
.signup-btn:hover
{
    color:black;
    background-color:rgb(230, 195, 218);
    font-weight: bold;
    box-shadow: 8px 8px 8px 5px rgba(0,0,0,0.3);
}
img
{
    width:80px;
    border-radius: 50%;
    margin-top:-40px;
    border: solid lightgray;
}
p {
    color:whitesmoke;
}