
    
    <div class="sign-up-form">
        <img src="assets/images/usericon.jpg" alt="no image">
      <strong> <h3>Sign Up Now</h3></strong>
        <form action="" method="" #userdata1="ngForm" (ngSubmit)="onSubmit1(userdata1)">
            <input type="text" class="input-box" placeholder="Your Name" name="username1" ngModel>
            <input type="email" class="input-box" placeholder="Your Email" name="email" ngModel>
            <input type="password" class="input-box" placeholder="Your Password" name="password" ngModel>
            <input type="text" class="input-box" placeholder="Your Number" name="number" ngModel>
            <p><span><input type="checkbox" ></span> I agree to the terms of services</p>

            <button type="submit" class="signup-btn">Sign Up</button>
            
        </form>
    </div>

