body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin-bottom:50px;
  
}
.reset-form
{
    width:300px;

    box-shadow: 5px 10px 5px 10px rgba(19, 3, 5, 0.2);
    background: rgba(218, 226, 218, 0.404);
    border-radius: 10px;
    height:350px;
    padding:10px;
    margin: 8% auto 0;
    text-align:center;
    
}
.reset-form h3
{
    color: black;
    margin-bottom: 30px;
}
.form-control
{
    border-bottom:1px solid !important;
    border:none;
    padding: 10px;
    margin: 10px 0;
    outline:none;
    background: none;
    color:#fff;
    
}
p
{
    font-size:15px;
    margin-left:5px;
}
button
{
    color:#fff;
    width: 90%;
    padding-top: 30px;
    padding: 10px;
    border-radius: 20px;
    font-size:15px;
    margin:10px 0;
    outline:none;
    cursor: pointer;
    border:none;
}

.reset-btn
{

    background-color: grey;
}
.reset-btn:hover
{
    color:black;
    background-color:rgb(34, 32, 178);
    font-weight: bold;
    box-shadow: 8px 8px 8px 5px rgba(0,0,0,0.3);
}
img
{
    width:80px;
    border-radius: 50%;
    margin-top:-40px;
    border: solid lightgray;
}
a
{
    font-size:15px;
    color:black!important;
    margin-top:10px;
    margin-left: 20px;
    padding-top:10px;
    font-weight: bold;
}

