
    <div class="reset-form">
        <img src="assets/images/pass.jpg" alt="no image">
        <h3>Reset Password</h3>
        <form  action="" method="" #user="ngForm" (ngSubmit)="onReset(user)">
           
            <input type="email" style="color:black;" class="input-box" placeholder="Your Email" name="mail" ngModel>
           
    
           

            <button type="submit" class="reset-btn">Reset</button>
            <a href="#" style="float:left;">Dont Remeber Old One ?</a><br>
          
            
        </form>
    </div>
