
    <div class="reset-form">
        <img src="assets/images/pass.jpg" alt="no image">
        <h3>Reset Password</h3>
        <form  action="" method="" #user="ngForm" (ngSubmit)="onReset(user)" autocomplete="off">
            <div class="form-group">
                <input type="email" style="color:black;" #emailRef="ngModel" class="form-control" 
                placeholder="Your Email" name="mail" [(ngModel)]="email" required>
                <div [hidden]="emailRef.valid || emailRef.pristine" class="alert alert-danger ">
                        Please enter Email
                </div>
            </div>
            <button type="submit" class="reset-btn">Reset</button>
            <a href="#" routerLink="/auth/signup" style="float:left;">Dont Remeber Old One ?</a><br>
        </form>
    </div>
