<div  class="container">
    <div  class="row my-5 ">
        
        <div class="col-lg-8 col-md-12 col-12 mx-auto">
                
<table style="margin-top:20px; box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.6);" 
class="table table-sm table-striped table-dark table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">Sr.no</th>
        <th scope="col">Cateogory Name</th>
        <th scope="col">Expenses</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of items | paginate: { itemsPerPage: 5, currentPage: p}; index as i">
        
        <td>{{i+1}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.name}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.date  | date: 'longDate'}}</td>
        <td><button (click)="del(expense.id)" class="btn btn-danger">Delete</button></td>
        <td><button routerLink="/home/manage-expenses/edit-expense/{{expense.id}}" 
        class="btn btn-primary">Edit</button>
        </td>
      </tr>
      <tr class="text-center">

        
        <td colspan="7"><button routerLink="/home/manage-expenses/add-expense" class="btn btn-secondary">
          Add-Expense</button>
        </td>
        
      </tr>
      <tr >
        <td colspan="7" class="text-center bg-secondary">
          <pagination-controls (pageChange)="p = $event"></pagination-controls> 

        </td>
      </tr>
    </tbody>
  </table>
  
        </div>
      
    </div>
</div>